In [2]:
import pandas as pd

In [3]:
#exercice_1
test=("this is a string ")
ds = pd.Series([2,test, 8, 10])
print(ds)
dt=list(ds)
#dt

0                    2
1    this is a string
2                    8
3                   10
dtype: object

In [40]:
#exercice_2
#import pandas as pd
serie1=pd.Series([2, 4, 6, 8, 10]) 
serie2=pd.Series([1, 3, 5, 7, 9])
print(serie1)
print(serie2)
print(serie1>serie2)
print(serie1<serie2)
print(serie1==serie2)
print(serie1+serie2)
print (serie1-serie2)
print(serie1*serie2)
print(serie)

0     2
1     4
2     6
3     8
4    10
dtype: int64
0    1
1    3
2    5
3    7
4    9
dtype: int64
0    True
1    True
2    True
3    True
4    True
dtype: bool
0    False
1    False
2    False
3    False
4    False
dtype: bool
0    False
1    False
2    False
3    False
4    False
dtype: bool
0     3
1     7
2    11
3    15
4    19
dtype: int64
0    1
1    1
2    1
3    1
4    1
dtype: int64
0     2
1    12
2    30
3    56
4    90
dtype: int64

NameError: name 'serie' is not defined

In [41]:
#exercice_3
dict = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
covert_to_serie=pd.Series(dict)
covert_to_serie

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [6]:
#exercice_6
import numpy as np
my_array=np.array([10,20,30,40,50])
print(my_array)
array_coverted=pd.Series(my_array)
array_coverted

[10 20 30 40 50]

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [58]:
#exercice_7
original_series=pd.Series([100,200,"python",300.1,400])
numerical_series=pd.to_numeric(original_series,errors='coerce')
numerical_series

0    100.0
1    200.0
2      NaN
3    300.1
4    400.0
dtype: float64

In [24]:
#exercice 8
data_diccio={'column 1':[1,2,3,4,7,11],
            'column 2':[4,5,6,9,5,0],
            'column 3':[7,5,8,12,1,11]}
my_first_frame=pd.DataFrame(data_diccio)
print (my_first_frame)
#first_column=my_first_frame.ix[:,0] # deprecated
first_column=my_first_frame.iloc[:,0]
first_column

   column 1  column 2  column 3
0         1         4         7
1         2         5         5
2         3         6         8
3         4         9        12
4         7         5         1
5        11         0        11

0     1
1     2
2     3
3     4
4     7
5    11
Name: column 1, dtype: int64

In [23]:
#exercice_9 
object_serie=pd.Series([100,200,'python',300.2 ,400])
to_array=np.array(object_serie)
to_array

array([100, 200, 'python', 300.2, 400], dtype=object)

In [37]:
#exercice_10
list_colors_1=['Red', 'Green', 'White']
list_colors_2=['Red', 'Black']
list_colors_3=['Yellow']
dicterma={0:list_colors_1,1:list_colors_2,2:list_colors_3}
my_color_frame=pd.Series(dicterma)
transformed_frame=my_color_frame.apply(pd.Series).stack().reset_index(drop=True)
transformed_frame

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [44]:
#exercice_11
serie_to_sort=pd.Series([10,20,22,800,1])
serie_sorted=serie_to_sort.sort_values()
serie_sorted

4      1
0     10
1     20
2     22
3    800
dtype: int64

In [56]:
#exercice_12
my_serie=pd.Series(["aa","bb","c","blabla"])
print(my_serie)
#my_serie.append(pd.Series("terma"))
new_serie=my_serie.append(pd.Series(["terma"]))
print (new_serie)
#optional for index 
new_new_serie=new_serie.append(pd.Series(["kibra","smina"]),ignore_index=True)
new_new_serie

0        aa
1        bb
2         c
3    blabla
dtype: object
0        aa
1        bb
2         c
3    blabla
0     terma
dtype: object

0        aa
1        bb
2         c
3    blabla
4     terma
5     kibra
6     smina
dtype: object

In [59]:
s = pd.Series([0, 1,2,3,4,5,6,7,8,9,10])
new_s = s[s >6]
new_s

7      7
8      8
9      9
10    10
dtype: int64

In [61]:
s = pd.Series(data = [1,2,3,4,5], index = ['A', 'B', 'C','D','E'])
print(s)
s = s.reindex(index = ['B','A','C','D','E'])
print(s)

A    1
B    2
C    3
D    4
E    5
dtype: int64
B    2
A    1
C    3
D    4
E    5
dtype: int64